.mapboxgl-popup-content {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.mapboxgl-popup-tip {
    display: none !important;
}